@font-face {
    font-family: Quentin;
    src: url("../Quentin.otf") format("opentype");
}

@font-face {
    font-family: Quentin;
    font-weight: regular;
    src: url("../Quentin.otf") format("opentype");