@font-face {
    font-family: Quentin;
    src: url("../font/Quentin.woff") format("woff");
}

@font-face {
    font-family: Quentin;
    font-weight: regular;
    src: url("../font/Quentin.woff") format("woff");